* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 50%;
  float: left;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.head.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container {
  max-width: 1100px;
  margin: 25px auto;
  padding: 0 20px;
}

.slot {
  width: 280px;
  height: 100px;
  float: left;
  padding: 0 20px;
  margin: 15px 30px;
  background-color: black;
  color: white;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
